#chatroom {
    max-width: 40rem;
    max-height: 50vh;
    overflow-y: auto;
    margin: auto;
    outline: var(--purple) solid;
    padding: 1rem;
    border-radius: 8px;
    font-family: monospace;
}

#chat-box {
    flex: 1 1 auto;
}

#send-button {
    flex: 0 1 auto;
}

.hidden {
    display: none;
}