#chatroom {
    max-width: 40rem;
    max-height: 70vh;
    overflow-x: scroll;
    margin: auto;
    outline: var(--purple) solid;
    padding: 1rem;
    border-radius: 8px;
}

#chat-box {
    width: 100%;
    display: inline-block;
}

#send-button {
    display: inline-block;
}

.hidden {
    visibility: hidden;
}